/* 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
  width: 100%;
  min-height: 100vh;
  background: url('./images/waitlist_background_img.jpg') no-repeat center center/cover;
  font-family: Arial, sans-serif;
  text-align: center;
}

.waitlist {
    background: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.waitlist-pg {
 
  padding: 3rem 2rem;
  border-radius: 1rem;
  max-width: 600px;
  color: #fff;
}

.launching-text {
  
  margin-bottom: 0.5rem;
  justify-content: center;
  display: flex;
}
.launching-text span{
     font-size: 1rem;
  font-weight: bold;
  color: #a7f3d0;
  background-color: rgba(32, 100, 41, 0.5);
  border-radius: 0.5rem;
  padding: 0.25rem 0.75rem;
}

.waitlist-pg-text {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3;
}

.waitlist-pg-subtext {
  margin-top: 1rem;
  font-size: 1.125rem;
  font-weight: 300;
  max-width: 40rem;
}

.text-span {
  color: turquoise;
}
.text-span-2{
    color:#115e59;
    font-weight: 600;
}

.waitlist-form {
  margin-top: 2rem;
}

.role-select,
.email-input {
  width: 100%;
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid #d1d5db;
  margin-bottom: 1rem;
}

.waitlist-email {
  display: flex;
  align-items: start;
  margin: 1rem 0;
  width: 100%;
  gap: 0.5rem;
}

.email-input {
  flex: 1;
  padding: 0.75rem ;
    border-radius: 0.5rem;
    border: 1px solid #d1d5db;
    outline: none;
}

.teal-button {
  background-color: #115e59;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background 0.3s ease;
}

.teal-button:hover {
  background-color: #0e4b4a;
}

.disclaimer {
  margin-top: 1rem;
  font-size: 0.875rem;
  color: #d1d5db;
  text-align: center;
}

.features {
  display: flex;
justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: 1.5rem;
  font-size: 0.75rem;
}

  */
